@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
  --primary-color : #dc0a2d;
  --dark-gray: #212121;
  --medium-gray: #666666;
  --light-gray : #E0E0E0;
  --bg-color: #EFEFEF;
  --white: #FFFFFF;

  --bug: #A7B723;
  --dark: #75574C;
  --dragon: #7037FF;
  --electric: #F9CF30;
  --fairy: #E69EAC;
  --fighting: #C12239;
  --fire: #F57D31;
  --flying: #A891EC;
  --ghost: #70559B;
  --normal: #AAA67F;
  --grass: #74CB48;
  --ground: #DEC16B;
  --ice: #9AD6DF;
  --poison: #A43E9E;
  --psychic: #FB5584;
  --rock: #B69E31;
  --steel: #B7B9D0;
  --water: #6493EB;
}

* {
  box-sizing: border-box;
}

body{
  background-color: var(--bg-color);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

h1{
  font-size: 24px;
  line-height: 32px;
}

h2{
  font-size: 14px;
  line-height: 16px;
}

h3{
  font-size: 12px;
  line-height: 16px;
}

h4{
  font-size: 10px;
  line-height: 16px;
}

svg {
  width: 32px;
  height: 32px;
}

button{
  cursor: pointer;
}

